
<!-- <section id='content'> -->
  <div class='container'>
    <div class='row' id='content-wrapper'>
      <div class='col-xs-12'>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='page-header'>
              <h1 class='pull-left'>
                <i class='icon-table'></i>
                <span>Tables</span>
              </h1>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='box bordered-box' style='margin-bottom:0;'>
              <div class='box-header purple-background'>
                <div class='title'>Data table with column filter in footer</div>
                <div class='actions'>
                  <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                  </a>

                  <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                  </a>
                </div>
              </div>
              <div class='box-content box-no-padding'>
                <div class='responsive-table'>
                  <div class='scrollable-area'>
                    <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                      <thead>
                        <tr>
                          <th>Caseref</th>
                          <th>Country</th>
                          <th>Application No</th>
                          <th>Application Date</th>
                          <th>Title</th>
                          <th>Registration Number</th>
                          <th>Registration Date</th>
                          <th>Int'l Classes</th>
                          <th>Goods/Services</th>
                          <th>Case Status</th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @entries = Entry.all %>
                        <% @entries.each do |entry| %>
                          <tr>
                            <td><%= entry.caseref %></td>
                            <td><%= entry.country %></td>
                            <td><%= entry.applicationNo %></td>
                            <td><%= entry.applicationDate %></td>
                            <td><%= entry.title %></td>
                            <td><%= entry.registrationNumber %></td>
                            <td><%= entry.registrationDate %></td>
                            <td><%= entry.InternationalClasses %></td>
                            <td><div style="width:150px; overflow:auto;"><%= entry.goodsAndServices %></div ></td>
                            <td><%= entry.caseStatus %></td>
                            <td><%= link_to 'Show', entry %></td>
                            <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
                            <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                          </tr>
                        <% end %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Caseref</th>
                          <th>Country</th>
                          <th>Application No</th>
                          <th>Application Date</th>
                          <th>Title</th>
                          <th>Registration Number</th>
                          <th>Registration Date</th>
                          <th>International Classes</th>
                          <th>Goods/Services</th>
                          <th colspan='2'>Case Status</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div><br>
              <%= link_to 'New Entry', new_entry_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id='footer'>
      <div class='footer-wrapper'>
        <div class='row'>
          <div class='col-sm-6 text'>
            Copyright © 2013 Your Project Name
          </div>
        </div>
      </div>
    </footer>
  </div>
<!-- </section> -->
